<h1><%= @user.name %></h1>
<ul>
  <% @user.posts.each do |post| %>
    <li style="list-style: none; border-bottom: 1px solid black">
      <p><%= post.user.name %></p>
      <a href="/post/<%= post.id %>"><img src="<%= post.image_path %>"/></a>
      <p><%= post.content %></p>
      <p>[<%= post.created_at.strftime("%Y-%m-%d %H:%M") %>]</p>
    </li>
  <% end %>
</ul>
<a href="/users">Back</a>
